.details-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #30093a;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.detail-container {
    display: flex;
    padding: 0 2rem;
}

.detail-title {
    text-align: center;
}

.div-left {
    margin: 0 2rem;
}

.div-left img {
    max-width: 40vw;
    margin-top: 1.5rem;
}

.detail-image {
    box-shadow: rgb(0 0 0 / 25%) 0px 12px 8px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;

}

.div-right {
    margin: 1.5rem 2rem;

}

.detail-summary {
    background-color: #fff;
    color: #30093a;
    font-weight: bold;
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 3px;
}

.detail-summary p {
    margin: 1px;
    box-shadow: rgb(0 0 0 / 25%) 0px 12px 8px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
}