.form-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #30093a;
	color: #fff;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
}

.form-main-div {
	display: flex;
}

.form-left-div {
	display: flex;
	flex-direction: column;
	margin: 0 5% 0 5%;
}

.form-rigth-div {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	margin: 0 5% 0 5%;

}

.form-left-div input {
	padding: 0 0.5rem;
	height: 6vh;
	width: 60vw;
	border-radius: 10px;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.form-left-div label {
	padding-bottom: 1%;
}

.form-left-div textarea {
	padding: 1rem 0.5rem;
	height: 8vh;
	width: 60vw;
	border-radius: 5px;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.form-list-diets {
	display: flex;
	flex-direction: column;
}

.form-list-diets label {
	padding: 5% 1% 5% 0;
	margin-right: 2%;

}

.button-create {
	top: 2rem;
	width: 100%;
	padding: 3% 0 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-create button {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 600px) {

	.form-main-div {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	.form-left-div textarea {
		width: 65vw
	}

	.form-left-div input {
		width: 65vw
	}
}

@media screen and (max-width: 300px) {
	.form-title {
		font-size: 25px;
	}
}
