.ul-pagination {
    list-style-type: none;
    margin: 0px;
    background-color: #30093a;
    color: #fff;
    display: flex;
    justify-content: center;
}

.p-pagination {
    padding: 0 30px;
    font-family: 'Raleway', sans-serif;
}