.about-background-container {
	display: flex;
	justify-content: center;
	min-height: 90vh;
}

.about-main-container {
	border-radius: 1rem;
	width: 50vw;
	height: 70vh;
	margin-top: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	-webkit-box-shadow: 0px 0px 20px 10px rgba(46, 196, 182, 0.5);
	box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 31%);
}

.about-main-container h1 {
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	color: #30093a;
}

.about-info {
	display: flex;
	align-items: center;
}

.about-info p {
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	color: #30093a;
	font-weight: bolder;
}

.about-info-image {
	width: 15vw;
	margin-left: 1rem;
	border-radius: 5px;
}

.about-contact {
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	color: #30093a
}

.about-contact p {
	margin: 0px;
	font-weight: bolder;
}

.about-contact h2 {
	margin: 0px
}

.about-contact a img {
	width: 4vw;
}

.about-contact-icons {
	text-align: center;
}