@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@100&display=swap');

.navbar {
	background-color: #ffffffff;
	display: flex;
	flex-direction: row;
	/* 	justify-content: space-between; */
	align-items: center;
	width: 100%;
	font-weight: bolder;
}

.nav-right {
	display: flex;
	width: 100%;
	justify-content: end;
	margin-right: 11vw;
}

.nav-left {
	font-family: 'Raleway', cursive;
	margin-left: 11vw;
	font-size: 2rem;
	width: 100%;
}

.nav-left a {
	color: #30093a;
	text-decoration: none;
}

.list-item {
	font-family: 'Raleway', cursive;
	list-style-type: none;
	text-decoration: none;

}

.list-item a {
	list-style-type: none;
	text-decoration: none;

}



@media screen and (max-width: 700px) {

	.navbar {
		display: grid;
		padding-left: 12%;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	.nav-right {
		margin: 0;
		display: grid;
		text-align: center;
		justify-items: center;
		width: 100%;

	}

	.nav-left {
		display: grid;
		justify-content: center;
		justify-items: center;
		margin-left: 0;
	}

	.nav-right {
		display: grid;
		justify-content: center;
		justify-items: center;

	}

	.list {
		padding: 0px;
		margin-right: 0px;
	}

	.list-item {
		padding: 0px;
	}
}

@media screen and (max-width: 350px) {
	.list-item {
		font-size: 4vw;
	}
}